#footer {
  font-size: 32px;
  color: #000;
}

.main {
  font-size: 39px;
  color: #000;
}

#test[data-v-3a9f10cc] {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.fade-enter-active .fade-leave-active {
  transition: opacity 5s;
}
.fade-enter .fade-leave-to {
  opacity: 0;
  font-size: 45px;
}
